<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magenest_Movie::movie" title="Movie" sortOrder="50">
                    <resource id="Magenest_Movie::moviesection"
                              title="Movie Section" sortOrder="60">
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>