<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_save_after_data_object">
        <observer name="customer_change_name"
                  instance="Magenest\Movie\Observer\CustomerChangeName" />
    </event>
<!--    <event name="movie_after_save">-->
<!--        <observer name="movie_save_observer"-->
<!--                  instance="Magenest\Movie\Observer\MovieRating" />-->
<!--    </event>-->
    <event name="admin_system_config_changed_section_movie">
        <observer name="custom_admin_system_config_changed_section_movie"
                  instance="Magenest\Movie\Observer\ConfigObserver" />
    </event>
<!--    <event name="adminhtml_customer_save_after">-->
<!--        <observer name="adminhtml_customer_save_avatar"-->
<!--                  instance="Magenest\Movie\Observer\ChangePatchCustomerAvatar" />-->
<!--    </event>-->
</config>
